<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>POSITIVE WORD CLOUD for: </h1>
		<p>Name: <%= person.name ? person.name : "Do Nam Trung" %><p>
		<p>Workgroup: <%= person.workgroup ? person.workgroup : "Education" %><p>
		<p>Objective: <%= person.objective ? person.objective : "Lead Generation" %><p>

		<img class="wordcloudimg" src="data/train7.png" alt="Positive Word Cloud">


	</body>
</html>